include ..//..//..//shared/pug/mixins/_form
include ..//..//..//shared/pug/mixins/_buttons
include ..//..//..//shared/pug/mixins/_layout
include ..//..//..//shared/pug/mixins/_style

div(layout="row" layout-xs="column" layout-wrap layout-fill)
  md-content(flex flex-gt-xs="65" layout-align='stretch' )
    #map(flex lsm-map ng-model=mapModel geosearch=0 zoom=6 urlbase="urlbase" center='mapcenter' style=mapStyle mapType='mapType' locations='locations')
  md-content(flex flex-gt-xs="35" layout-align='stretch')
    div.sidebar.scrollbar_fix()
      div(flex recent-posts page-size='10')
