include ..//..//..//shared/pug/mixins/_form
include ..//..//..//shared/pug/mixins/_media
include ..//..//..//shared/pug/mixins/_buttons
include ..//..//..//shared/pug/mixins/_layout
include ..//..//..//shared/pug/mixins/_style

div.update-form(layout="row" layout-xs="column" layout-wrap layout-fill)
    #map(lsm-map flex flex-gt-xs="40" ng-model='location' select-mode select-handler='updateLocation(latlon)' select-marker='marker' )
    div(flex flex-gt-xs="60")
        md-tabs(class="md-primary" md-dynamic-height md-border-bottom md-no-pagination="false" md-swipe-content md-selected="selectedIndex")
            md-tab(label='{{ "creator.tabs.info" | translate }}')
                hr
                div.md-padding
                    small {{ "locations.help.photo" | translate }}    
                div(layout="row" ng-if="photos && photos.length > 0")
                    div(flex)
                        strong.md-padding {{ "locations.location_photos" | translate }}:
                        md-grid-list(md-cols="2"  md-gutter="4px" md-row-height="4:3")
                            md-grid-tile(ng-repeat="photo in photos" md-colspan="1")
                                img.photo-preview(alt="{{ photo.uuid }}" ng-src="{{ photo.thumb_large_url }}" ng-click="deletePhoto(photo)" layout-fill)
                hr
                div.md-padding    
                    p() {{ 'actions.choose_image' | translate }}    
                        div(ng-if="uploaded_pic.length > 0")
                            md-grid-list(md-cols="3" md-row-height="4:3")
                                md-grid-tile(ng-repeat="pic in uploaded_pic")
                                    img.photo-preview(ng-src="{{ pic }}" layout-fill)
                        button(class='md-button button-positive md-raised' ng-click="getPicture('camera')") 
                            span.fa.fa-file-o &nbsp;
                            span() {{ 'actions.choose_camera' | translate }}
                        button(class='md-button button-positive md-raised' ng-click="getPicture('library')") 
                            span.fa.fa-file-o &nbsp;
                            span() {{ 'actions.choose_library' | translate }}
                hr
                div(layout-gt-xs="row" layout-align="space-between start")
                    span(flex)
                    +button_fab('actions.submit','submit()','md-warn','fa-check','location')
                hr    
                div.md-padding
                    small {{ "locations.help.location" | translate }}
                div(layout="row" layout-xs="column" layout-padding)
                    div(flex)
                        +input('text','location.street','locations.street', null, null)
                        +input('text','location.city','locations.city', null, null)
                        +input('text','location.postcode','locations.postcode', null, null)
                    div(flex)
                        p
                            strong Lat:&nbsp;
                            span {{marker.lat}}
                        p
                            strong Lng:&nbsp;
                            span {{marker.lng}}
                        p.metatext
                            strong Data:&nbsp;
                            span © OpenStreetMap contributors,&nbsp;
                                a(href='http://www.openstreetmap.org/copyright', target='_blank') ODbL 1.0.
                hr
                div.md-padding
                    small {{ "locations.help.info" | translate }}
                div.md-padding
                    div()
                        div(layout-gt-xs="row")
                            +input('textarea','location.description','locations.description', null, null)
                hr
                div.md-padding
                    small {{ "locations.help.details" | translate }}
                div(layout="row" layout-xs="column" layout-padding)
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +select('location.artworkSince', '_sys.artworkSince', false, 'locations.artwork_for')
                        div(layout-gt-xs="row")
                            +select('location.artworkType', '_sys.artworkType', false, 'locations.artwork_type')
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +input('radio','location.degree','locations.degree', '_sys.degree', false)
                        div(layout-gt-xs="row")
                            +input('checkbox','location.demolished','locations.demolished', '_sys.demolished', false)
                hr
                div(layout-gt-xs="row" layout-align="space-between start")
                    span(flex)
                    +button_fab('actions.submit','submit()','md-warn','fa-check','location')    
                

            md-tab(ng-if='isAdmin' label='{{ "creator.tabs.admin" | translate }}')
                div.md-padding
                    small {{ "locations.help.admin" | translate }}
                div(layout="row" layout-padding)
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +input('checkbox','location.hidden','locations.hidden', '_sys.hidden', null)