include ..//mixins/_style

div(layout='column' layout-align="start center" flex="100")
    +headline('{{ listHeadline }}')
    div(class="layout-margin")
        mdt-table(paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" selectable-rows='false', table-card='{title: Leerstandsmelder, actionIcons: true}' mdt-row="{data: data,'table-row-id-key': 'uuid', 'column-keys': columnKeys}")
            mdt-header-row
                mdt-column(ng-repeat="field in fields" align-rule='left' column-sort="field.sort")
                    span {{ field.label | translate }}
            mdt-custom-cell(column-key="updated")
                span {{ value | date :'yyyy-MM-dd'}}
            mdt-custom-cell(column-key="owner")
                span {{ value | translate }}
            mdt-custom-cell(column-key="buildingType")
                span {{ value | translate }}
            mdt-custom-cell(column-key="link" class="actions")
                table-link-button