include ..//mixins/_form
include ..//mixins/_media
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

div(layout layout-xs="column" layout-wrap layout-fill)
    #map(lsm-map flex flex-gt-xs="33" ng-model='location' center='mapcenter' zoom='zoom' locations='locations')
    div.md-padding(flex flex-gt-xs="66" check-login)
        p.pull-right()
            +button_fab('actions.back','back()','md-secondary','fa-arrow-left','location')
            span(ng-if='mayEdit')
                +button_fab('actions.edit','edit()','md-primary','fa-edit','location')
        p
            strong {{location.title}}
            div(ng-if="location.demolished == true")
                img(style="max-width:100%" src="/images/abgerissen.gif")
        p.metatext
            | {{ 'author.by' | translate }}&nbsp;
            strong {{ location.user.nickname }}&nbsp;
            span {{ 'author.on' | translate }} {{ location.created | date : 'dd.MM.yy' }}
        div( ng-if="photos.length > 0")
            md-grid-list(md-cols="3" md-row-height="4:3")
                md-grid-tile(ng-repeat="photo in photos")
                    img.photo-preview(ng-src="{{ photo.thumb_large_url }}" ng-original_url="{{ photo.original_url }}" lightbox layout-fill)
        p(ng-if="location.description")
            small(marked="location.description")
        hr
        div.md-body-1
            p(ng-if="location.emptySince") {{ 'locations.empty_for' | translate }}: {{ location.emptySince | translate }}
            p {{ 'locations.address' | translate }}: {{location.street || ('locations.unknown' | translate)}}
            p {{ 'locations.city' | translate }}: {{location.postcode}} {{location.city || ('locations.unknown' | translate)}}
            p {{ 'locations.degree' | translate }}: {{(location.degree | translate) || ('locations.unknown' | translate)}}
            p {{ 'locations.demolished' | translate }}: {{(location.demolished ? ('locations.demolished_yes' | translate) : null) || ('site.no' | translate)}} &nbsp;
            p {{ 'locations.demolition_rumor' | translate }}: {{(location.rumor ? ('locations.demolition_rumor_yes' | translate) : null) || ('locations.unknown' | translate)}}
            p {{ 'locations.building_type' | translate }}: {{(location.buildingType | translate) || ('locations.unknown' | translate)}}
            p {{ 'locations.owner' | translate }}: {{(location.owner | translate) || ('locations.unknown' | translate)}}
        hr
        div(comments uuid='location.uuid' resource='locations')