include ..//mixins/_form
include ..//mixins/_media
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

div(layout="row" layout-xs="column" layout-wrap layout-fill)
    #map(lsm-map flex flex-gt-xs="40" ng-model='location' select-mode select-handler='updateLocation(latlon)' select-marker='marker' )
    div(flex flex-gt-xs="60")
        md-tabs(class="md-primary" md-dynamic-height md-border-bottom md-no-pagination="false" md-swipe-content md-selected="selectedIndex")
            md-tab(label='{{ "creator.tabs.info" | translate }}')
                div.md-padding
                    small {{ "locations.help.info" | translate }}
                div.md-padding
                    div(flex)
                        div(layout-gt-xs="row" flex="60")
                            +input('text','location.title','locations.title', null, null)
                    div()
                        div(layout-gt-xs="row")
                            +input('textarea','location.description','locations.description', null, null)
                hr
                div(layout="row" layout-align="start end")
                    span(flex)
                    +button("actions.next",'selectedIndex = selectedIndex + 1','md-raised',null,null)

            md-tab(label='{{ "creator.tabs.location" | translate }}')
                div.md-padding
                    small {{ "locations.help.location" | translate }}
                div(layout="row" layout-padding)
                    div(flex)
                        +input('text','location.street','locations.street', null, null)
                        +input('text','location.city','locations.city', null, null)
                        +input('text','location.postcode','locations.postcode', null, null)
                    div(flex)
                        p
                            strong Lat:&nbsp;
                            span {{marker.lat}}
                        p
                            strong Lng:&nbsp;
                            span {{marker.lng}}
                        p.metatext
                            strong Data:&nbsp;
                            span © OpenStreetMap contributors,&nbsp;
                                a(href='http://www.openstreetmap.org/copyright', target='_blank') ODbL 1.0.
                hr
                div(layout="row" layout-align="start end")
                    +button("actions.previous",'selectedIndex = selectedIndex - 1','md-raised',null,null)
                    span(flex)
                    +button("actions.next",'selectedIndex = selectedIndex + 1','md-raised',null,null)

            md-tab(label='{{ "creator.tabs.details" | translate }}')
                div.md-padding
                    small {{ "locations.help.details" | translate }}
                div(layout="row" layout-padding)
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +select('location.emptySince', '_sys.emptySince', false, 'locations.empty_for')
                        div(layout-gt-xs="row")
                            +select('location.owner', '_sys.owner', false, 'locations.owner')
                        div(layout-gt-xs="row")
                            +select('location.buildingType', '_sys.buildingType', false, 'locations.building_type')
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +input('radio','location.degree','locations.degree', '_sys.degree', false)
                        div(layout-gt-xs="row")
                            +input('checkbox','location.demolition_rumor','locations.demolition_rumor', '_sys.demolition_rumor', false)

                        div(layout-gt-xs="row")
                            +input('checkbox','location.demolished','locations.demolished', '_sys.demolished', false)
                hr
                div(layout="row" layout-align="start end")
                    +button("actions.previous",'selectedIndex = selectedIndex - 1','md-raised',null,null)
                    span(flex)
                    +button("actions.next",'selectedIndex = selectedIndex + 1','md-raised',null,null)

            md-tab(ng-if='isAdmin' label='{{ "creator.tabs.admin" | translate }}')
                div.md-padding
                    small {{ "locations.help.admin" | translate }}
                div(layout="row" layout-padding)
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +input('checkbox','location.hidden','locations.hidden', '_sys.hidden', null)
                hr
                div(layout="row" layout-align="start end")
                    +button("actions.previous",'selectedIndex = selectedIndex - 1','md-raised',null,null)
                    span(flex)
                    +button("actions.next",'selectedIndex = selectedIndex + 1','md-raised',null,null)

            md-tab(label='{{ "creator.tabs.preview" | translate }}')
                div.md-padding
                    p
                        strong {{ "locations.title" | translate }} : {{location.title}}
                    p(btf-markdown="location.description" ng-if="location.description")
                    small
                        p(ng-if="location.emptySince") {{ 'locations.empty_for' | translate }}: {{ location.emptySince | translate }}
                        p {{ 'locations.address' | translate }}: {{location.street || ('locations.unknown' | translate)}}
                        p {{ 'locations.city' | translate }}: {{location.postcode}} {{location.city || ('locations.unknown' | translate)}}
                        p {{ 'locations.degree' | translate }}: {{(location.degree | translate) || ('locations.unknown' | translate)}}
                        p {{ 'locations.demolished' | translate }}: {{(location.demolished ? ('locations.demolished_yes' | translate) : null) || ('site.no' | translate)}}
                        p {{ 'locations.demolition_rumor' | translate }}: {{(location.rumor ? ('locations.demolition_rumor_yes' | translate) : null) || ('locations.unknown' | translate)}}
                        p {{ 'locations.building_type' | translate }}: {{(location.buildingType | translate) || ('locations.unknown' | translate)}}
                        p {{ 'locations.owner' | translate }}: {{(location.owner | translate) || ('locations.unknown' | translate)}}
                    hr
                    div(ng-if="photos && photos.length > 0")
                        p
                            strong {{ "locations.location_photos" | translate }}:
                        div(layout="row")
                            img.photo-preview(ng-repeat="photo in photos" ng-src="{{ photo.thumb_url }}")
                        hr
                    p(ng-if='!files') {{ 'actions.choose_images' | translate }}
                        +input('fileimage','assets.file','assets.file', null, null)
                    hr
                    div(layout-gt-xs="row" layout-align="space-between start")
                        +button("actions.previous",'selectedIndex = selectedIndex - 1','md-raised',null,null)
                        span(flex)
                        +button_fab('actions.submit','submit()','md-warn','fa-check','location')