include ..//mixins/_form
include ..//mixins/_media
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

div(layout="row" layout-xs="column" layout-wrap layout-fill)
  md-content(flex flex-gt-xs="40" layout-align='stretch' )
    #map(lsm-map flex layout-align='stretch' ng-model='location' select-mode select-handler='updateLocation(latlon)' select-marker='marker' )
  md-content(flex flex-gt-xs="60" layout-align='stretch')
    md-tabs(class="md-primary" md-dynamic-height md-border-bottom md-no-pagination="false" md-swipe-content md-selected="selectedIndex")
      md-tab(label='{{ form_title }}')
        form.sidebar.md-padding.update-form
                div.md-padding
                  small {{ "locations.help.photo" | translate }}
                div(layout="row" layout-xs="column" layout-padding)
                    div(flex)
                        strong.md-padding {{ "locations.location_photos" | translate }}:
                        md-grid-list(md-cols="2"  md-gutter="4px" md-row-height="4:3")
                            md-grid-tile(ng-repeat="photo in photos" md-colspan="1")
                                img.photo-preview(alt="{{ photo.uuid }}" ng-src="{{ photo.thumb_large_url }}" ng-click="deletePhoto(photo)" layout-fill)
                hr
                div.md-padding
                    p(ng-if='!files') {{ 'actions.choose_images' | translate }}
                        +input('fileimage','assets.file','assets.file', null, null)
                        //input(type="file" ng-model="files" name="file" accept="image/*" id="capture" ngf-capture="camera" ngf-select)
                        //button(class='md-button button-positive' camera ng-model='myPicture') camera
                hr
                div(layout-gt-xs="row" layout-align="space-between start")
                    span(flex)
                    +button_fab('actions.submit','submit()','md-warn','fa-check','location')
                hr
                div.md-padding
                    small {{ "locations.help.location" | translate }}
                div(layout="row" layout-xs="column" layout-padding)
                    div(flex)
                        +input('text','location.street','locations.street', null, null)
                        +input('text','location.city','locations.city', null, null)
                        +input('text','location.postcode','locations.postcode', null, null)
                    div(flex)
                        p
                            strong Lat:&nbsp;
                            span {{marker.lat}}
                        p
                            strong Lng:&nbsp;
                            span {{marker.lng}}
                        p.metatext
                            strong Data:&nbsp;
                            span © OpenStreetMap contributors,&nbsp;
                                a(href='http://www.openstreetmap.org/copyright', target='_blank') ODbL 1.0.
                hr
                div.md-padding
                    small {{ "locations.help.info" | translate }}
                div.md-padding
                    div()
                        div(layout-gt-xs="row")
                            +input('textarea','location.description','locations.description', null, null)
                hr
                div.md-padding
                    small {{ "locations.help.details" | translate }}
                div(layout="row" layout-xs="column" layout-padding)
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +select('location.artworkSince', '_sys.artworkSince', false, 'locations.artwork_for')
                        div(layout-gt-xs="row")
                            +select('location.artworkType', '_sys.artworkType', false, 'locations.artwork_type')
                    div(flex layout-padding)
                        div(layout-gt-xs="row")
                            +input('radio','location.degree','locations.degree', '_sys.degree', false)
                        div(layout-gt-xs="row")
                            +input('checkbox','location.demolished','locations.demolished', '_sys.demolished', false)
                hr
                div(ng-if='isAdmin')
                  div
                      small {{ "locations.help.admin" | translate }}
                  div(layout="row" layout-padding)
                      div(flex layout-padding)
                          div(layout-gt-xs="row")
                              +input('checkbox','location.hidden','locations.hidden', '_sys.hidden', null)
                  hr
                div(layout-gt-xs="row" layout-align="space-between start")
                    span(flex)
                    +button_fab('actions.submit','submit()','md-warn','fa-check','location')
