include ../../../shared/jade/mixins/_form
include ../../../shared/jade/mixins/_buttons
include ../../../shared/jade/mixins/_layout
include ../../../shared/jade/mixins/_style

div
    div(layout="row" layout-xs="column" layout-wrap layout-fill)
        div(flex="66")
            .md-padding.type-post(btf-markdown='page.content')

        div(flex="33" layout='column')
            div(flex)
                include ../partials/_recent_posts