include ../../../shared/pug/mixins/_form
include ../../../shared/pug/mixins/_buttons

div(ng-controller="Widgets.Navbar as ctrl")
    md-toolbar.site-content-toolbar(md-scroll-shrink check-login)
        #navbar(name="navbar" layout='column' layout-align='center end' layout-fill )
            div.md-toolbar-tools(flex layout='row' layout-align='space-between center' )
                a(href='/')
                  img(src="/images/coo_logo.jpg", alt="{{ 'site.title' | translate }}" style="width:100px; padding-top: 5px; z-index:100000")
                span(flex)
                span(hide-gt-lg)
                  +button_icon('','toogle_sidebar()','','fa-fw fa-2x fa-bars')
