-
    var jsdir = 'js/'
    var deps = ['angular.min.js', 'angular-material.min.js', 'ag-grid.min.js', 'marked.min.js', 'simplemde.min.js',
                'bluebird.min.js', 'leaflet.js', 'Control.MiniMap.min.js', 'leaflet.markercluster.js', 'ng-image-gallery.min.js']
each file in deps
    script(lang='javascript', src=jsdir + file)
