include ../../mixins/jade/_mixin_form
include ../../mixins/jade/_mixin_buttons
include ../../mixins/jade/_mixin_layout
include ../../mixins/jade/_mixin_style

+layout('column','center center',true)
	md-card(layout-margin layout-padding)
		md-toolbar(md-scroll-shrink)
			+layout('row','center center','padding')
				+headline("Challenge")
	md-card-content
		+layout('row','center center')
			+content('column','start center')
				pre {{ challenge.request }}
				+input('text','challenge.response', null, null)
	.md-actions(layout="row" layout-align="end center")
		+button_fab('submit','challenge(challenge.response)','md-accent','fa-thumbs-up','challenge.response')