include ../../mixins/jade/_mixin_form
include ../../mixins/jade/_mixin_buttons
include ../../mixins/jade/_mixin_layout
include ../../mixins/jade/_mixin_style

+layout('column','center center',true)
	md-card(layout-margin layout-padding)
		md-toolbar(md-scroll-shrink)
			+layout('row','center center','padding')
				+headline("Login")
		md-card-content
			+layout('row','center center')
				+content('column','start center')
					+input('text','user.login', null, null)
					+input('password','user.password', null, null)
					//+input('checkbox','user.remember', '_sys.remember', null)
		.md-actions(layout="row" layout-align="end center")
			span(flex="10")
			span(flex="50")
				+button('forgot','forgot()','md-raised','',null,'/forgot')
			span(flex="40")
				+button_fab('submit','submit()','md-accent','fa-sign-in','user.login && user.password')
