include ../../mixins/jade/_mixin_form
include ../../mixins/jade/_mixin_buttons
include ../../mixins/jade/_mixin_layout
include ../../mixins/jade/_mixin_style

+layout('column','center center',true)
	md-card(layout-margin layout-padding)
		md-toolbar(md-scroll-shrink)
			+layout('row','center center','padding')
				+headline("users.login")
		md-card-content
			+layout('row','center center')
				+content('column','start center')
					+input('text','user.login','users.username', null, null)
					+input('password','user.password','users.password', null, null)
		.md-actions(layout="row" layout-align="end center")
			span(flex="10")
			span(flex="50")
				+button('users.forgot','forgot()','md-raised','',null,'/forgot')
			span(flex="40")
				+button_fab('actions.submit','submit()','md-accent','fa-sign-in','user.login && user.password')
