include ../../mixins/jade/_mixin_form
include ../../mixins/jade/_mixin_buttons
include ../../mixins/jade/_mixin_layout
include ../../mixins/jade/_mixin_style

+layout('column','center center',true)
	md-card()
		md-toolbar(md-scroll-shrink)
			+layout('row','center center','padding')
				+headline("Profile")
		md-card-content
			+layout('row','center center')
				+content('column','start center')
					+input('text','user.login', null, null)
					+input('password','user.password', null, null)
					+input('email','user.email', null, null)
					+button('site.lang','language()','','fa-language',null)
		.md-actions(layout="row" layout-align="end center")
			span(flex="10")
			span(flex="50")
				+button('cancel','cancel()','md-raised','')
			span(flex="40")
				+button_fab('submit','submit()','md-warn','fa-check')