include mixins/_form
include mixins/_media
include mixins/_buttons
include mixins/_layout
include mixins/_style
// variables for the templates
- mapFlex="50"
//- mapStyle="height:calc(100% - 88px);width:100%;"
- sideWidth="width:33%"
- sideModel="newest"

md-content
	div(layout="row" layout-sm="column" layout-wrap layout-fill)
		div(flex="30")
			#mapContainer()
				#secondcontainer
					#map(lsm-map ng-model='location' urlbase='urlbase' center='mapcenter' zoom='zoom' locations='locations')
		div(flex="70")
			md-content.md-padding
				p.pull-right(ng-if='mayEdit')
					+button_fab('actions.edit','edit()','md-primary','fa-edit','location')

				p
					strong {{location.title}}
				p.metatext
					| {{ 'author.by' | translate }}&nbsp;
					strong {{ location.user.nickname }}&nbsp;
					span {{ 'author.on' | translate }} {{ location.created | date : 'dd.MM.yy' }}
				div(layout="row" layout-align="space-between start" ng-if="photos.length > 0")
					span(flex ng-repeat="photo in photos")
						img(ng-src="{{ photo.thumb_url }}" lightbox height="120px")
				p(ng-if="location.description")
					small {{location.description}}

				hr
				small
					p(ng-if="location.emptySinceParsed") {{ 'locations.empty_for' | translate }} {{location.emptySinceParsed}}
					p {{ 'locations.address' | translate }}: {{location.street || ('locations.unknown' | translate)}}
					p {{ 'locations.city' | translate }}: {{location.postcode}} {{location.city || ('locations.unknown' | translate)}}
					p {{ 'locations.degree' | translate }}: {{location.degree || ('locations.unknown' | translate)}}
					p {{ 'locations.demolition_rumor' | translate }}: {{location.rumor || ('locations.unknown' | translate)}}
					p {{ 'locations.building_type' | translate }}: {{location.buildingType || ('locations.unknown' | translate)}}
					p {{ 'locations.owner' | translate }}: {{location.owner || ('locations.unknown' | translate)}}
				hr
				p
					strong {{ 'comments.comment_plural' | translate }}
				div(ng-if="location.comments" ng-repeat="comment in location.comments")
					p.smalltext
						| {{ 'author.by' | translate }}&nbsp;
						strong {{ comment.user.nickname }}&nbsp;
						span {{ 'author.on' | translate }} {{ comment.created | date : 'dd.MM.yy HH:mm' }}
					p {{comment.body}}
				p(ng-if="location.comments.length === 0")
					small {{ 'comments.no_comments' | translate }}
				hr
				p
					strong {{ 'comments.new_comment' | translate }}
				+input('textarea','newComment','comments.comment_text', null, null)