include mixins/_form
include mixins/_buttons
include mixins/_layout
include mixins/_style
// variables for the templates
- mapFlex="66"
- mapModel="cities"
//- mapStyle="height:calc(100% - 88px);width:100%;"
- sideWidth="width:33%"

div(layout="row" layout-sm="column" layout-wrap layout-fill)
	div(flex="66")
		#mapContainer()
			#secondcontainer
				#map(ito-map ng-model=mapModel geosearch=0 zoom=6 urlbase='urlbase' center='mapcenter' style=mapStyle mapType='mapType' locations='locations')
	div(flex="33")
		include partials/_recent_posts