include mixins/_form
include mixins/_buttons
include mixins/_layout
include mixins/_style

+layout('column','center center',true)
	md-card(layout-margin layout-padding)
		md-toolbar(md-scroll-shrink)
			+layout('row','center center','padding')
				+headline("users.signup")
		md-card-content
			+layout('row','center center')
				+content('column','start center')
					+input('email','user.email', 'users.email')
					+input('text','user.login', 'users.username')
					+input('password','user.password', 'users.password')
					+input('password','user.password_confirm', 'users.password')

		.md-actions(layout="row" layout-align="end center")
			span(flex="10")
			span(flex="50")
				+button('cancel','cancel()','md-raised','',null,'/')
			span(flex="40")
				+button_fab('actions.submit','submit()','md-accent','fa-sign-in','user.email && user.login && user.password && user.password_confirm')