include ../mixins/_form
include ../mixins/_media
include ../mixins/_buttons
include ../mixins/_layout
include ../mixins/_style

md-content(layout="row" layout-wrap layout-fill)
    #map(lsm-map flex='50' ng-model='location' select-mode select-handler='updateLocation(latlon)' select-marker='marker')
    md-content(flex="50")
        md-tabs(class="md-primary"  md-dynamic-height md-border-bottom md-no-pagination="false" md-swipe-content md-selected="selectedIndex")
            md-tab(label='{{"creator.tabs.info" | translate }}')
                md-content.md-padding
                    md-content(flex)
                        div(layout-gt-xs="row" flex="60")
                            +input('text','location.title','locations.title', null, null)
                    md-content()
                        div(layout-gt-xs="row")
                            +input('textarea','location.description','locations.description', null, null)
                hr
                md-content(layout="row" layout-align="start end")
                    span(flex)
                    +button("actions.next",'selectedIndex = 1','md-raised',null,null)

            md-tab(label='{{"creator.tabs.location" | translate }}')
                md-content(layout="row" layout-padding)
                    md-content(flex)
                        +input('text','location.street','locations.street', null, null)
                        +input('text','location.city','locations.city', null, null)
                        +input('text','location.postcode','locations.postcode', null, null)
                    md-content(flex)
                        p
                            strong Lat:&nbsp;
                            span {{marker.lat}}
                        p
                            strong Lng:&nbsp;
                            span {{marker.lng}}
                        p.metatext
                            strong Data:&nbsp;
                            span © OpenStreetMap contributors,&nbsp;
                                a(href='http://www.openstreetmap.org/copyright', target='_blank') ODbL 1.0.
                hr
                md-content(layout="row" layout-align="start end")
                    +button("actions.previous",'selectedIndex = 0','md-raised',null,null)
                    span(flex)
                    +button("actions.next",'selectedIndex = 2','md-raised',null,null)

            md-tab(label='{{"creator.tabs.details" | translate }}')
                md-content(layout="row" layout-padding)
                    md-content(flex layout-padding)
                        md-content(layout-gt-xs="row")
                            +select('location.emptySince', '_sys.emptySince', false, 'locations.empty_for')
                        md-content(layout-gt-xs="row")
                            +select('location.owner', '_sys.owner', false, 'locations.owner')
                        md-content(layout-gt-xs="row")
                            +select('location.buildingType', '_sys.buildingType', false, 'locations.building_type')
                    md-content(flex layout-padding)
                        md-content(layout-gt-xs="row")
                            +input('radio','location.degree','locations.degree', '_sys.degree', null)
                        md-content(layout-gt-xs="row")
                            +input('checkbox','location.rumor','locations.demolition_rumor', '_sys.rumor', null)
                hr
                md-content(layout="row" layout-align="start end")
                    +button("actions.previous",'selectedIndex = 1','md-raised',null,null)
                    span(flex)
                    +button("actions.next",'selectedIndex = 3','md-raised',null,null)

            md-tab(label='{{"creator.tabs.preview" | translate }}')
                md-content.md-padding
                    p
                        strong {{ "locations.title" | translate }} : {{location.title}}
                    p(btf-markdown="location.description" ng-if="location.description")
                    small
                        p(ng-if="location.empty_since") {{ 'locations.empty_for' | translate }} {{ location.emptySince }}
                        p {{ 'locations.address' | translate }}: {{location.street || ('locations.unknown' | translate)}}
                        p {{ 'locations.city' | translate }}: {{location.postcode}} {{location.city || ('locations.unknown' | translate)}}
                        p {{ 'locations.degree' | translate }}: {{(location.degree | translate) || ('locations.unknown' | translate)}}
                        p {{ 'locations.demolition_rumor' | translate }}: {{(location.rumor ? ('locations.demolition_rumor_yes' | translate) : null) || ('locations.unknown' | translate)}}
                        p {{ 'locations.building_type' | translate }}: {{(location.buildingType | translate) || ('locations.unknown' | translate)}}
                        p {{ 'locations.owner' | translate }}: {{(location.owner | translate) || ('locations.unknown' | translate)}}
                    hr
                    p(ng-if='photos') has photos!
                    p(ng-if='!files') {{ 'actions.choose_images' | translate }}
                        +input('fileimage','assets.file','assets.file', null, null)
                    hr
                    div(layout-gt-xs="row" layout-align="space-between start")
                        +button("actions.previous",'selectedIndex = 2','md-raised',null,null)
                        span(flex)
                        +button_fab('actions.submit','submit()','md-warn','fa-check','location')
