include ..//mixins/_form
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

+layout('column','start center',true)
    md-card(layout-margin layout-padding)
        md-card-content
            +layout('row','center center')
                +content('column','start center')
                    p(ng-if='success === true') {{ 'messages.users.reset_success' | translate }}
                    p(ng-if='success === true')
                        a(href='/users/me') {{ 'actions.next' | translate }}
                    p(ng-if='success === false') {{ 'errors.users.reset_failed' | translate }}
