include ..//mixins/_form
include ..//mixins/_media
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

md-content(layout='column' layout-align='start center' flex layout-padding)
  div(flex layout-align='stretch')
    md-card(layout-align='stretch' flex)
        md-card-header
            md-card-header-text(layout-align="center center")
                +headline("users.settings")
        md-card-content()
            div(layout-padding)
                div(layout="row" layout-xs="column")
                    +text('text', 'user.nickname', 'users.username', null, null)
                    +text('email', 'user.email', 'users.email', null, null)
                div(layout="row" layout-xs="column")
                    +text('password', 'user.password', 'users.password', null, null)
                    +text('password','user.password_confirm', 'users.password_confirm', null, null)
                +content('column', 'start start')
                    +input('checkbox','user.message_me','users.message_me','_sys.message_me',false)
                    +input('checkbox','user.notify','users.notify','_sys.notify',false)
        md-card-actions( layout-align="start center"  style="align-self: stretch;")
            div(layout="row" layout-align="space-around start")
                +button('actions.cancel',null,'md-raised',null,null,'/')
                span(flex)
                +button_fab('actions.submit','submit()','md-warn','fa-check')
