include ..//mixins/_form
include ..//mixins/_media
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

div(layout='column' layout-align='start center' flex layout-padding)
    md-card()
        md-card-header
            md-card-header-text(layout-align="center center")
                +headline('users.settings')
        md-card-content
            div(layout-padding)
                div(layout="row" layout-xs="column")
                    +text('text', 'user.nickname', 'users.username', null, null)
                    +text('email', 'user.email', 'users.email', null, null)
                div(layout="row" layout-xs="column")
                    +text('password', 'user.password', 'users.password', null, null)
                    +text('password','user.password_confirm', 'users.password_confirm', null, null)
                +content('column', 'start start')
                    +input('checkbox','user.message_me','users.message_me','_sys.message_me',null,true)
                    +input('checkbox','user.notify','users.notify','_sys.notify',null,true)
                div(layout="row" layout-xs="column")
                    +content('column', 'start start')
                        +input('checkbox','user.confirmed','users.confirmed','_sys.confirmed',null,true)
                        +input('checkbox','user.blocked','users.blocked','_sys.blocked',null,true)
                    +content('column', 'start start')
                        +text('text', 'user.last_login', 'users.last_login', null, null)
                        +text('text', 'user.failed_logins', 'users.failed_logins', null, null)
                +layout('row','start start')
                    +content('column', 'start start')
                        +select_multiple('user.scopes', '_sys.userScope', false, 'users.scope', true, true)
        md-card-actions( layout-align="start center"  style="align-self: stretch;")
            div(layout="row" layout-align="space-around start")
                +button('actions.cancel',null,'md-raised',null,null,'{{ urlbase }}admin/users/list')
                span(flex)
                +button_fab('actions.submit','submit()','md-warn','fa-check')