include ../mixins/_form
include ../mixins/_buttons
include ../mixins/_layout
include ../mixins/_style

md-content(layout="row" layout-wrap layout-fill)
    md-content(flex layout='column')
        .md-padding.type-post(flex)
            +input('text', 'post.title', 'posts.title', null, null)
            textarea(markdown-editor ng-model='post.body')
