include ../../../shared/jade/mixins/_form
include ../../../shared/jade/mixins/_buttons
include ../../../shared/jade/mixins/_layout
include ../../../shared/jade/mixins/_style

div(layout="row" layout-xs="column")
    div(flex flex-gt-xs="66" layout='column')
        .md-padding.type-post(flex)
            p.metatext-lg {{author.on | translate}} {{ post.created | date : 'dd.MM.yy' }}
            h1 {{post.title}}
            div(btf-markdown="post.body")
            hr
            div(comments uuid='post.uuid' resource="posts")
