include ../mixins/_form
include ../mixins/_buttons
include ../mixins/_layout
include ../mixins/_style

md-content(layout="row" layout-xs="column")
    md-content(flex flex-gt-xs="66" layout='column')
        .md-padding.type-post(flex)
            p.metatext-lg {{author.on | translate}} {{ post.created | date : 'dd.MM.yy' }}
            h1 {{post.title}}
            div(btf-markdown="post.body")
            hr
            div(comments uuid='post.uuid' resource="posts")
    md-content(flex flex-gt-xs="33" layout='column')
        div(flex recent-posts page-size='10')
