include ../mixins/_form
include ../mixins/_buttons
include ../mixins/_layout
include ../mixins/_style

div(layout="row" layout-wrap layout-fill)
    div(flex layout='column')
        .md-padding.type-post(flex)
            +headline('posts.edit_post')
            +input('text', 'post.title', 'posts.title', null, null)
            textarea(markdown-editor ng-model='post.body')
            hr
            div(layout="row")
                span(flex)
                +button("actions.submit",'submit()','md-raised',null,null)
