doctype html
html(lang='en', ng-app='mapoz')
    head
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
        meta(name="fragment" content="!")
        base(href='/')

        title City of OZ
        meta(name='description' content='OZ hat uns die Stadt vererbt')
        link(rel='stylesheet', href='/css/mapoz-frontend-deps.css?build=17110423')
        link(rel='stylesheet', href='/css/mapoz-frontend-web.css?build=17110423')
        style(type='text/css').
            .ng-cloak {
                display: none !important;
            }
    body.ng-cloak(layout='column' spellcheck='false' ng-cloak ng-controller="Application")
        header
            include partials/_navbar
            div(ng-controller="Widgets.Alerts")
                div(ng-repeat="alert in alerts" type="alert.status" close="closeAlert($index)")
                    span {{ alert.message }}
        md-content.main_container.scrollbar_fix(role='main' flex layout="row" layout-wrap layout-fill layout-align="start stretch" ng-view cg-busy="{promise:promise,message:'Loading...',templateUrl:'partials/_busy.html',minDuration:0}")
        footer()
            div.metatext.metatext-bl(layout='row' layout-align='start end' layout-padding hide-xs)
                span {{ 'site.copyright_notice' | translate }}
                span {{ 'site.map_notice' | translate }}
                span(flex)
                //a(href='/site/terms') {{ 'site.subnav.terms' | translate }}
                a(href='http://city-of-oz.hamburg/impressum' target="_blank") {{ 'site.subnav.imprint' | translate }}
                //a(href='/locations/index') {{ 'site.subnav.index' | translate }}
                //a(href='/site/about') {{ 'site.subnav.about' | translate }}
                //a(href='/site/howto') {{ 'site.subnav.howto' | translate }}
                //a(href='/site/developers') {{ 'site.subnav.developers' | translate }}
                //span &nbsp;&nbsp;
                //a(href='/site/press') {{ 'site.subnav.press' | translate }}
        //div(msg-popup popup-id='relaunch')
        scripts
            include ../../shared/pug/partials/_js_dependencies
            - var build = '?build=' + Date.now().toString()
            script(src='/js/leerstandsmelder-apiclient-web.js' + build)
            script(src='/js/mapoz-angular-frontend.min.js' + build)
