doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(http-equiv='X-Frame-Options' content='DENY')
        meta(name='format-detection' content='telephone=no')
        meta(name='msapplication-tap-highlight' content='no')
        meta(name='viewport' content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        meta(http-equiv='Content-Security-Policy' content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *")
        //meta(name="fragment" content="!")
        //base(href='/android_asset/www/')

        title Leerstandsmelder - Für mehr Transparenz und neue Möglichkeitsräume in der Stadt
        meta(name='description' content='Meldet Leerstände! Mit dem Leerstandsmelder können wir gemeinsam Informationen austauschen. Leerstände können auf der Leerstandskarte von allen NutzerInnen direkt und unkompliziert eingetragen werden.')
        link(rel='stylesheet', href='/android_asset/www/css/leerstandsmelder-frontend-dependencies.min.css?build=16050301')
        link(rel='stylesheet', href='/android_asset/www/css/leerstandsmelder-frontend.css?build=16050301')
        style(type='text/css').
            .ng-cloak {
                display: none !important;
            }
    body.ng-cloak(layout='column' spellcheck='false' ng-cloak)
        header
            include ../../mobile/jade/partials/_navbar
            div(ng-controller="Widgets.Alerts")
                div(ng-repeat="alert in alerts" type="alert.status" close="closeAlert($index)")
                    span {{ alert.message }}
        md-content.main_container.scrollbar_fix(role='main' flex layout="row" layout-xs="column" layout-wrap layout-fill layout-align="start stretch" ng-view cg-busy="{promise:promise,message:'Loading...',templateUrl:'/android_asset/www/partials/_busy.html',minDuration:0}")
        footer()
            div.metatext.metatext-bl(layout='row' layout-align='start end' layout-padding)
                span {{ 'site.copyright_notice' | translate }}
                span {{ 'site.map_notice' | translate }}
                span(flex)
                a(href='#/site/terms') {{ 'site.subnav.terms' | translate }}
                a(href='#/site/imprint') {{ 'site.subnav.imprint' | translate }}

        div(msg-popup popup-id='relaunch')
        scripts
            script(src='/android_asset/www/cordova.js')
            script(src='/android_asset/www/js/leerstandsmelder-apiclient-web.js?build=16050301')
            script(src='/android_asset/www/js/leerstandsmelder-angular-dependencies.min.js?build=16050301')
            script(data-main="/android_asset/www/src/mobile/js/rjs-runtime" src='js/require.js')