mdt-table(selectable-rows='true', table-card='{title: Leerstandsmelder, actionIcons: true}'
        paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
        mdt-row-paginator="onPaginate(query.page, settings.pagesize)"
        mdt-row-paginator-error-message="Error loading data." mdt-row="rowSetup")
    mdt-header-row
        mdt-column(ng-repeat="field in fields" align-rule='left')
            span {{ field.label | translate }}