div(class="layout-margin")
    mdt-table(selectable-rows='true', table-card='{title: Leerstandsmelder, actionIcons: true}'
            paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
            mdt-row-paginator="onPaginate(page, pageSize, options)"
            mdt-row-paginator-error-message="Error loading data." mdt-row="rowSetup" mdt-translations="{'rowsPerPage': rowsPerPage, 'pageOf': pageOf}")
        mdt-header-row
            mdt-column(ng-repeat="field in fields" align-rule='left' column-sort="field.sort")
                span {{ field.label | translate }}
        mdt-custom-cell(column-key="updated")
            span {{ value | date :'yyyy-MM-dd'}}
        mdt-custom-cell(column-key="created")
            span {{ value | date :'yyyy-MM-dd'}}
        mdt-custom-cell(column-key="edit" class="actions")
            table-edit-button
        mdt-custom-cell(column-key="show" class="actions")
            table-show-button
        mdt-custom-cell(column-key="delete" class="actions")
            table-delete-button