include ../../../shared/pug/mixins/_form
include ../../../shared/pug/mixins/_buttons


md-content(class="md-padding _md layout-xs-column layout-row" layout-xs="column" layout="row" layout-wrap)
    div(flex-xs flex-gt-xs="50" layout="column" ng-repeat="location in data")
        md-card()
            md-card-title
                md-card-title-text
                    a(ng-href='{{ urlbase + (region.slug || location.region_uuid) + "/" + location.slug  }}' )
                        span.md-headline {{ location.title }}
                    span.md-subhead {{ location.city }}
                    span.metatext {{ 'author.on' | translate }} {{ location.created | date : 'dd.MM.yy' }} / {{ location.updated | date : 'dd.MM.yy'}}
                md-card-title-media
                    div(ng-if="location.photo.thumb_square_url" layout-align="start center")
                        img(ng-if='location.photo.thumb_square_url' ng-src='{{location.photo.thumb_square_url}}')
            md-card-actions(layout="row" layout-align="start center")
                +button_icon('','clickShowHandler(location.uuid)','','fa-fw fa-2x fa-eye')
                +button_icon('','clickEditHandler(location.uuid)','','fa-fw fa-2x fa-pencil')
                +button_icon('','clickDeleteHandler(location.uuid)','','fa-fw fa-2x fa-trash')

            md-card-content
                p
                    | {{location.buildingType | translate}} {{ ' ' }}
                    span(ng-if='location.owner') / {{location.owner | translate}}
