-
    var jsdir = '/js/'
    var deps = ['angular.min.js', 'angular-material.min.js', 'ag-grid.min.js', 'showdown.min.js', 'marked.min.js',
      'codemirror.js', 'spell-checker.min.js', 'simplemde.min.js', 'bluebird.min.js', 'leaflet.js',
      'Control.MiniMap.min.js', 'leaflet.markercluster.js']
each file in deps
    script(lang='javascript', src=jsdir + file)
