include ../mixins/_form
include ../mixins/_buttons
include ../mixins/_layout
include ../mixins/_style

+layout('column','start center',true)
    div
    div
    md-card()
        md-toolbar(md-scroll-shrink)
            +layout('row','center center','padding')
                +headline("users.login")
        md-card-content(layout-padding)
            +layout('row','center center')
                +content('column','start center')
                    +input('email','user.email','users.email', null, null)
                +content('column','start center')
                    +input('password','user.password','users.password', null, null)
        .md-actions(layout="row" layout-align="start end")
            +button('users.forgot','forgot()','md-raised','',null,'/users/forgot')
            span(flex)
            +button_fab('actions.submit','submit()','md-accent','fa-sign-in')
