@import '../../shared/less/main';
@import '../../modules/dataviewer/less/site';
@import '../../modules/dataviewer/less/map';

// website specific styles go here

md-card {
  background:#efefef;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 0px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.metatext-lg {
  color: #888;
}

.autocomplete-custom-template .item-metadata, .metatext {
  font-size: 0.7em;
  line-height: 0.7em;
  color:#888;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  min-height: 180px;
}