include ..//mixins/_form
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

div.scrollbar_fix(layout="row" layout-xs="column" layout-wrap layout-fill)
    md-content(flex flex-gt-xs="65" layout-align='stretch' )
      #map.scrollbar_fix(lsm-map flex layout-align='stretch' useCluster=true geosearch=0 urlbase='urlbase' center='mapcenter' zoom='zoom' locations='locations')
    md-content(flex flex-gt-xs="34" layout-align='stretch')
      div.sidebar.scrollbar_fix()
        div(flex recent-locations region='region' page-size='10' locations="locations")
