include ..//mixins/_form
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

+layout('column','center center',true)
    md-card()
        md-toolbar(md-scroll-shrink)
            +layout('row','center center','padding')
                +headline('users.settings')
        md-card-content
            +layout('row','start start')
                +content('column', 'start start')
                    +input('text', 'region.title', 'regions.title', null, null)
                    +input('text', 'region.zoom', 'regions.zoom', null, null)
                    +input('text', 'region.lonlat[1]', 'regions.latitude', null, null)
                    +input('text', 'region.lonlat[0]', 'regions.longitude', null, null)
                    md-checkbox(ng-model="region.moderate" aria-label="{{ 'regions.set_moderate' | translate }}") {{ 'regions.set_moderate' | translate }}
                +content('column', 'start start')
                    md-checkbox(ng-model="region.hide" aria-label="{{ 'regions.set_hide' | translate }}") {{ 'regions.set_hide' | translate }}
                    +input('textarea', 'region.hide_message', 'regions.hide_message')
        .md-actions(layout="row" layout-align="start end")
            span(flex)
            +button_fab('actions.submit','submit()','md-warn','fa-check')