include ../../../mixins/jade/_mixin_form
include ../../../mixins/jade/_mixin_media
include ../../../mixins/jade/_mixin_buttons
include ../../../mixins/jade/_mixin_layout
include ../../../mixins/jade/_mixin_style

+layout('column','center start',true)
    +content('row','center center')
        h2(ng-if="recentLocations.length > 0") {{ "locations.recent_activity" | translate }} {{author.in}} {{region.title}}
        h2(ng-if="recentLocations.length === 0") {{ "locations.no_recent_activity" | translate }} {{author.in}} {{region.title}}

md-list.md-dense(ng-if="recentLocations.length > 0")
    md-list-item.md-2-line(ng-repeat='location in recentLocations')
        img.md-avatar(ng-if='location.thumb_url' ng-src='{{location.thumb_url}}?{{$index}}', alt='{{location.title}}')
        .md-list-item-text(layout='column')
            h3 {{ location.title }}
            p
                | {{location.buildingType}} {{ ' ' }}
                span(ng-if='location.owner') / {{location.owner}}
