//div(ng-controller="Map.Sidebar")
div(ng-controller="Maps.Sidebar")

	#preview(ng-show="preview  && showInfo")
		.previewHolder
			img(src="{{activeMarker.url}}" ng-click="preview = ! preview" style="background-image: (/images/simon_child_cc-attr_nounProject_polaroidWithPicture_modByDenjell_2.png)")
			h3(style="position:absolute;left:10px;margin:0")
				.closeInfo(ng-click="preview = ! preview")
					i.btn.fa.fa-remove
		//ng-show="showInfo"
	#infoHolder( style="font-size:0.9em")
		img.thumbnail.activeThumb.pull-left(ng-src="{{ activeMarker.thumburl }}" ng-click="preview = ! preview" style="margin:5px 8px 0 5px" height="60" width="60")


		h3.pull-right(style="margin:0 0 0 10px" )
			.btn.fa.fa-fw.fa-pencil-square-o(id="editButton-{{activeMarker.id}}" ng-click="toggleEdit = ! toggleEdit" ng-show="activeMarker.contributor_id == user")
			.btn.fa.fa-fw.fa-expand(ng-click="preview = ! preview" ng-show="!preview")
			.btn.fa.fa-fw.fa-compress(ng-click="preview = ! preview" ng-show="preview")
			span.closeInfo(ng-click="closeInfo()")
				i.btn.fa.fa-remove

		h4
			well.rating
				span.star(ng-click="star(5,activeMarker._id)" ng-class="{'active':activeMarker.userStars =='5'}")
				span.star(ng-click="star(4,activeMarker._id)" ng-class="{'active':activeMarker.userStars =='4'}")
				span.star(ng-click="star(3,activeMarker._id)" ng-class="{'active':activeMarker.userStars =='3'}")
				span.star(ng-click="star(2,activeMarker._id)" ng-class="{'active':activeMarker.userStars =='2'}")
				span.star(ng-click="star(1,activeMarker._id)" ng-class="{'active':activeMarker.userStars =='1'}")


		p.markerInfo(style="padding-left:10px;line-height:0.5em;margin:-5px 0 0 0")
			span(style="margin:-5px 0 0 0")
				span.fa.fa-clock-o &nbsp;
				small {{activeMarker.created_at}}
			div
				span.fa.fa-star-half-full &nbsp;
				small {{activeMarker.stars || 0}} &nbsp;
				span.fa.fa-user &nbsp;
				small {{activeMarker.starrers || 0}} &nbsp;
				span.fa.fa-eye &nbsp;
				small {{activeMarker.looks || 0}} &nbsp;


			div(style="padding-left:10px;line-height:0.5em;margin:5px 0 0 0")

				div
					img(ng-src="/images/icons/oz-{{activeMarker.category}}.png" width="40px" style="opacity:0.7;margin:20px 0 0 0")
				div.fa.fa-tags(style="position:relative;top:-17px;left:25px") &nbsp;
					span.label.label-default {{activeMarker.category}}


		div(ng-show="toggleEdit && activeMarker.contributor_id == user" style="margin-top:5px;")
			.btn-group.center(style="text-align:center")
				.btn.btn-info.btn-sm(ng-click="moveMarker( activeMarker._id );latlong = !latlong")
					.fa.fa-map-marker &nbsp;
					span Move
				.btn.btn-success.btn-sm(ng-click="updateMarker( activeMarker._id )")
					.fa.fa-check &nbsp;
					span Update
				.btn.btn-warning.btn-sm(ng-click="cancelEdit( activeMarker._id )")
					.fa.fa-bomb &nbsp;
					span Cancel
				.btn.btn-danger.btn-sm(ng-show="activeMarker.contributor_id == user" ng-click="imageUnload( activeMarker._id )")
					.fa.fa-times &nbsp;
					span Delete

			form(id="edit-{{activeMarker.id}}" width="100%")
				.well(style="margin:5px")
					label.mono(for="activetitle") Title:
					input(name="activetitle" type="text" placeholder="Title" value="{{activeMarker.title}}")
					label.mono(for="categories") Type:&nbsp;

					select(name="categories" ng-model="activeMarker.category" ng-options="category for category in categories track by category")
						option

					.latlng(ng-show="latlong")
						.lat
							label.mono(for="activelat") LAT:&nbsp;&nbsp;
							input#activeLat(name="activelat" type="text" value="{{activeMarker.lat}}" readonly="true")
						.lng
							label.mono(for="activelng") LNG:&nbsp;&nbsp;
							input#activeLng(name="activelng" type="text" value="{{activeMarker.lng}}" readonly="true")