include ../../../mixins/jade/_mixin_form
include ../../../mixins/jade/_mixin_media
include ../../../mixins/jade/_mixin_buttons
include ../../../mixins/jade/_mixin_layout
include ../../../mixins/jade/_mixin_style

+layout('column','center start',true)
    +content('row','center center')
        h2(ng-if="recentLocations") {{ "locations.recent_activity" | translate }}
        h2(ng-if="recentLocations.length === 0") {{ "locations.no_recent_activity" | translate }}
    div(ng-repeat="location in recentLocations")
        +content('row','start start')
            a(ng-href="/locations/{{location.slug || location.uuid}}")
                p
                    img.thumb.pull-left(ng-src="{{location.thumb}}" alt="{{location.title}}" width="50px" height="50px")
                    strong {{location.title}}
                    br
                    span.smalltext {{"author.by" | translate}} {{location.user.nickname}}
                    br
                    span {{location.buildingType}}
                    | /
                    span {{location.owner}}