include ../../../mixins/jade/_mixin_form
include ../../../mixins/jade/_mixin_media
include ../../../mixins/jade/_mixin_buttons
include ../../../mixins/jade/_mixin_layout
include ../../../mixins/jade/_mixin_style

+layout('column','center start',true)
    +content('row','center center')
        h2(ng-if="recentLocations") {{ "Latest Activity" | translate }}
        h2(ng-if="!recentLocations") {{ "No Recent Activity" | translate }}
    div(ng-repeat="location in recentLocations")
        +content('row','start start')
            a(ng-href="/locations/{{location.slug || location.uuid}}")
                p
                    img.thumb.pull-left(ng-src="{{location.thumb}}" alt="{{location.title}}" width="50px" height="50px")
                    strong {{location.title}}
                    br
                    span.smalltext {{"by" | translate}} {{location.user.nickname}}
                    br
                    span {{location.buildingType}}
                    | /
                    span {{location.owner}}


            //md-virtual-repeat-container(ng-model="assets")
                    div.repeated-item( md-virtual-repeat="thing in assets.latest")
                        h3
                            strong {{thing.title}}
                            span {{"by" | translate}} {{thing.owner}}
                        //img.thumb(ng-src="{{thing.urlLoc.thumb}}" alt="{{thing.title}}")