#markerListView(when-scrolled="pull10Images()" ng-class="{ 'minimizedListView':  !toggleMarkerListView }")
	.scrollerHolder
		.markerHolder(ng-repeat="marker in markers |  toArray | orderBy:'offset'")

			span.marker.pull-left(id="marker-{{::marker._id}}" ng-class-even="'marker-even'" ng-class="{ 'marker-with-info': activeMarker._id == marker._id }" )

				.thumbStuff.pull-left(ng-class="{ 'listViewOpen': !toggleMarkerListView }")
					span.badge(ng-show="marker.looks >= 1" title="Number of Views") {{marker.looks}}
					//a(ng-href="/mapview/{{ activeMarker._id }}")
					img.thumbnail(id="thumb-{{marker._id}}" ng-src="{{ ::marker.thumburl }}" ng-click="openMarker( marker._id )" draggable="false" ng-class="{'activeThumb' : activeMarker._id == marker._id}")
					.ratingSolo
						span.star.activeLowVote(ng-show="marker.userStars =='1'" title="You gave this image {{marker.userStars}} stars")
						span.star.activeMedVote(ng-show="marker.userStars >='2' && marker.userStars <='4'" title="You gave this image {{marker.userStars}} stars")
						span.star.activeHighVote(ng-show="marker.userStars =='5'" title="You gave this image {{marker.userStars}} stars")

		.markerHolder
			span.marker.loadingMarker.pull-left(ng-show="!listViewLoaded")
				h2.thumbnail.pull-left(style="margin:0 0 0 5px;width:60px;height:60px;")
					i.fa.fa-spinner.fa-spin(ng-if="markers" style="position:absolute;margin:10px")
