doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(http-equiv='X-Frame-Options' content='DENY')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
        meta(name="fragment" content="!")
        base(href='/')

        title Leerstandsmelder - Für mehr Transparenz und neue Möglichkeitsräume in der Stadt
        meta(name='description' content='Meldet Leerstände! Mit dem Leerstandsmelder können wir gemeinsam Informationen austauschen. Leerstände können auf der Leerstandskarte von allen NutzerInnen direkt und unkompliziert eingetragen werden.')
        link(rel='stylesheet', href='/css/leerstandsmelder-frontend-dependencies.min.css?build=16042605')
        link(rel='stylesheet', href='/css/leerstandsmelder-frontend.css?build=16042605')
        style(type='text/css').
            .ng-cloak {
                display: none !important;
            }
    body.ng-cloak(layout='column' spellcheck='false' ng-cloak)
        header
            include ../../shared/jade/partials/_navbar
            div(ng-controller="Widgets.Alerts")
                div(ng-repeat="alert in alerts" type="alert.status" close="closeAlert($index)")
                    span {{ alert.message }}
        md-content(role='main' flex layout="row" ng-view cg-busy="{promise:promise,message:'Loading...',templateUrl:'partials/_busy.html',minDuration:0}")
        footer
            md-content.metatext.metatext-bl(layout='row' layout-align='start end' layout-padding)
                span {{ 'site.copyright_notice' | translate }}
                span {{ 'site.map_notice' | translate }}
                span(flex)
                a(href='/site/about') {{ 'site.subnav.about' | translate }}
                //a(href='/site/howto') {{ 'site.subnav.howto' | translate }}
                a(href='http://my.loopto.do/loop-form.html?key=agtzfmxvb3BhYmFja3IRCxIETG9vcBiAgMC80sifCQw', target='_blank') {{ 'site.subnav.feedback' | translate }}
                a(href='/site/developers') {{ 'site.subnav.developers' | translate }}
                a(href='/locations/index') {{ 'site.subnav.index' | translate }}
                a(href='/site/press') {{ 'site.subnav.press' | translate }}
                a(href='/site/terms') {{ 'site.subnav.terms' | translate }}
                a(href='/site/imprint') {{ 'site.subnav.imprint' | translate }}
        div(msg-popup popup-id='relaunch')
        scripts
            script(src='/js/leerstandsmelder-apiclient-web.js?build=16042605')
            script(src='/js/leerstandsmelder-angular-dependencies.min.js?build=16042605')
            script(data-main="/src/web/js/rjs-runtime" src='/js/require.js')