include ../mixins/_form
include ../mixins/_buttons

div(check-login flex="50")
    p
        strong {{ "comments.new_comment" | translate }}
    div(ng-if="userSession")
        +input('textarea','new_comment.body','comments.comment_text', null, null)
        div(layout="row" layout-align="end top")
            img.captcha(captcha)
            div(flex layout-padding)
                +input('text','new_comment.captcha','captcha.enter_captcha', null, null)
        hr
        div(layout="row")
            span(flex)
            +button("actions.submit",'submitComment()','md-raised',null,null)
    div(ng-if="!userSession")
        p
            a(href="/users/login") {{ 'comments.new_comment_login' | translate }}