p.smalltext
    | {{ 'author.by' | translate }}&nbsp;
    strong {{ comment.user.nickname || comment.user.login }}&nbsp;
    span {{ 'author.on' | translate }} {{ comment.created | date : 'dd.MM.yy HH:mm' }}
p(btf-markdown="comment.body")