md-table-container(layout-fill)
    table(md-table md-row-select="true" multiple="true" ng-model="selected" md-progress="promise")
        thead(md-head md-order="query.sort" md-on-reorder="onSort")
            tr(md-row)
                th(md-column md-order-by="{{ field.property }}" ng-repeat="field in fields")
                    span {{ field.label | translate }}
            tr(md-row md-select="item" md-select-id="{{item.uuid}}" md-auto-select="false" ng-repeat="item in data")
                td(md-cell ng-repeat="field in fields")
                    span(ng-if="field.date") {{ getDataForProperty(field.property, item) | date : 'dd.MM.yy HH:mm' }}
                    span(ng-if="!field.date") {{ getDataForProperty(field.property, item) }}

    md-table-pagination(md-limit="settings.pagesize"
    md-page-select="true" md-limit-options="settings.limit_options"
    md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginate")