include ../../../shared/jade/mixins/_form
include ../../../shared/jade/mixins/_buttons

+input('textarea','message.body','messages.message_text', null, null)
hr
div(layout="row")
    span(flex)
    +button("actions.submit",'submitMessage()','md-raised',null,null)