md-content(layout="column" layout-align="start start")
    .lsm-list(flex)
        h2(ng-if="locations.length > 0") {{ "locations.recent_activity" | translate }} {{author.in}} {{region.title}}
        h2(ng-if="locations.length === 0") {{ "locations.no_recent_activity" | translate }} {{author.in}} {{region.title}}
        .lsm-list-item.lsm-list-item-small(layout='row' layout-align="start center" ng-repeat='location in locations')
            .lsm-list-item-img
                img(ng-if='location.thumb_url' ng-src='{{location.thumb_url}}')
            .lsm-list-item-text(flex)
                a(ng-href='/{{ region.slug || region.uuid }}/{{ location.slug }}')
                    h3 {{ location.title }}
                    p
                        | {{location.buildingType | translate}} {{ ' ' }}
                        span(ng-if='location.owner') / {{location.owner | translate}}
