include ../../../modules/mixins/jade/_mixin_form
include ../../../modules/mixins/jade/_mixin_media
include ../../../modules/mixins/jade/_mixin_buttons
include ../../../modules/mixins/jade/_mixin_layout
include ../../../modules/mixins/jade/_mixin_style

+layout('column','center start',true)
    +content('row','center center')
        h2(ng-if="posts") {{ "Latest Activity" | translate }}
        h2(ng-if="!posts") {{ "No Recent Activity" | translate }}
    div.newsitem(ng-repeat="post in posts")
        +content('row','start start')
            a(ng-href="/posts/{{post.slug}}")
                p
                    strong {{post.title}}
                p.smalltext {{post.abstract | limitTo: 140}}...
